/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 .jumbotron {
    height: 450px;
  }
  .jumbotron h1 {
    top: 1em;
    left: 1em;    
  }
  .anchor h2 {
      margin: 2em 0 1em 0;
    }
  .inner {
      padding: 0 5em;
  }
  .container {
  padding-bottom: 3em;
  }
  footer.container {
    padding-bottom: 1em;
  }
  ul {
    padding-left: 1em;
  }
  .right {
    margin-left: 5em;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body {
      }
 }