/* base */

* {
  box-sizing: border-box;
}
/* end base */

/* layout */
html {
}

body {
  background-color: #000;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ol {
  padding-left: 1em;
}

h1 {
  font-size: 2.5em;
}

img, 
iframe {
  border: 2px solid #ccc;  
}
#monster {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  background: url("../img/monster.jpg") fixed left top no-repeat;
  margin: 0 0 3em 0;

}
#monster ul li {
   text-align: left;
   margin: 0 0 0 0.4em;
}
#monster ul li a {
  font-size: 0.7em;

}
#monsterPic {
  color: #eee;
  padding: 2em;
}
#monsterPic p {
  margin: 0.5em 0;
}
#monsterPic img {
  width: 200px;
  float: left;
  margin: 1em;
}
.mainpic {
  border: red 1px solid;
}
.mainpic h3 {
  text-align: center;
  margin: 0.2em;
  font-size: 1.8em;
}
a {
  color:#C3DC42;
}
.extra-link {
  float: right;
  font-size: 0.8em
}

h5, .monster {
  font-size: 1.2em;
  color: #A0B913;
}
.hide {
  display: none;
}
.start {
  color: #347786;
  padding: 0 1em;
  font-size: 0.9em;
}

.choiceButton p {
  border: 2px solid blue;

}
.choiceButton {
  padding: 2em;
  background-color: #D51C1A;
  color: #fff;
  height: 200px;
  width: 400px;
}
.choiceButton:hover{
  background-color: #31A5CE;
  color: #4C4C00;
  font-weight: bold;

}
.that {
  background-color: darkblue;
  color: yellow;
  font-size: 3em;
}
