/* base */
* {
  box-sizing: border-box;
}
/* end base */

/* layout */
body {
  background-color: inherit;
  position: relative;
}
div, footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
ul {
  padding-left: 1em;
}
ol {
  padding-left: 1em;
}
h1 {
  color:#fff;
  font-size: 2.5em;
}
footer {
  color: #fff;
  font-size: 1.5em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline;
  float: left;
  padding-left: 1em;
}

nav {
  padding: 0;
  margin-bottom: 0;
}
.navbar ul li a:hover, 
.navbar .navbar-header a:hover {
  color: #081802;
}
.inner {
  background-color: #fff;
  padding: 1em;
}

li.active,
li.hover,
li.focus {
  background-color: #081802;

}

.jumbotron {
  margin: 0;
  background: inherit;
  padding-bottom: 20px;
}
.jumbotron h1 {
  margin: 2% 0;
}
.jumbotron p {
  color: #dc2c2c;
}
.row {
  clear: both;
  margin-bottom: 2em;
}
.col-md-4 {
  padding-top: 1em;
}

.container-fluid {
  padding: 0;
}

.anchor h1 {
  margin: auto;
  padding: 2em 0 1em 0;
}

/* end layout */

/* nav */

.nav {
  float: right;
  padding-top: 1em;
}
#main_nav {
  background-color: white;
}
.navbar {
  margin: 0;
  border: none;
}
.navbar ul li {
  padding: 0.5em 1em;
  display: inline;
}
.navbar ul li a, .navbar a.navbar-brand  {
  display: inline;
  color: #dc2c2c;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 600ms;
  -webkit-transition: color 400ms;
  font-size: 1.4em;
  font-weight: bold;
}

button.navbar-toggle {
  background-color: #081802;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 2.5em;
} 

/* end nav */

.container {
  margin: 1em auto;
  background: url("../img/pipe.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
@media only screen and (max-width: 767px) {
  .container {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("../img/pipe_768.jpg");
  }
}
.header h1 {
  text-align: center;  
  padding: 0.5em;
}
#skill_list h2, #skill_list ul {
 padding-left: 3em;
}

.col-md-4, .col-md-6, .col-xs-12, .col-xs-6 {
  background-color: white;
}
#intro .col-md-4, #intro .col-xs-12, #about .col-xs-12 {
  background: none;
}

/* Typography */
h1,
h2,
h3, 
p,
li,
span {
   font-family: 'Special Elite', cursive;
}
h1, h2 {
  color: #fff;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
}

.col-md-4 p, 
.col-md-4 li, 
.main-text h3, 
#intro h2, 
#about p, 
#about li,
#about h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #081802;
  margin: 0.5em;
  text-shadow: none;
}

#work .row div {
  background: none;
}

#work .row img {
  border: 5px solid white;
-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#work h2. #about h2 {
  margin: 0.5em 0;
}
#contact {
  background-image: url("../img/pipe.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
}
#contact div {
  margin: auto;
}
#contact ul {
  list-style-type: none;
}
#contact li {
  font-size: 1.2em;

}
#contact li a {
  margin-left: -0.25em;
}
#contact div#map {
  margin-top: 1em;
}
.glyphicon {
  margin-right: 0.7em;
  vertical-align: text-top;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
}
#work h2 {
  text-align: center;
}
#skill_list img {
  float: right;
}
.copyright {
  float: right;
}
